body {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fffbfb;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif, Georgia, 'Times New Roman', Times, serif;
}

.container {
    margin-top: 50px;
    
}

.top-image {
    width: 100%;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
}

h3 {
    text-align: center;
    align-items: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

hr {
    color: black;
}

.profile-pic {
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
}

.bio {
    margin-right: 60px;
    margin-top: 20px;
    text-align: center;
}


.button {
    align-items: center;
    margin-top: 10px;
}

.contact {
    width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-card {
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 700px;
    border-radius: 5px;
}

.resume {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.resume-button {
    font-size: 20px;
}